
<label for="search-bar"></label><input type="search" id="search-bar" placeholder="search here ..."/>
<div id="search-results"></div>

<script type="application/json" id="search-data">{% include post-feed.html %}</script>
<script>
    // First, parse the JSON we've thrown into the DOM
    let searchData = JSON.parse(document.getElementById('search-data').textContent);

    // Create a reference to our search results
    let searchResultsList = document.getElementById('search-results');

    // And one for our search input
    let searchInput = document.getElementById('search-bar');

    let updateSearchResults = function (e) {
        // Make the query case-insensitive
        let q = e.target.value.trim().toLowerCase();
        // Empty the search results DOM element
        searchResultsList.innerHTML = "";

        // Make sure it isn't empty
        if (q !== '') {
            // Filter the searchData array to include only matching items
            let matchingItems = searchData.filter(searchItem => {
                let title = searchItem.title.toLowerCase();
                let snippet = searchItem.snippet.toLowerCase();
                return title.includes(q) || snippet.includes(q);
            });

            // Create and append links for matching items
            matchingItems.forEach(searchItem => {
                let searchLink = document.createElement('a');
                searchLink.href = searchItem.url;
                searchLink.textContent = searchItem.title;
                searchResultsList.appendChild(searchLink);
            });
        }
    };

    // Finally, bind our new function to the search input element
    searchInput.addEventListener('keyup', updateSearchResults);
</script>
<style>
    #search-results a {
        display: block;
    }

    #search-bar {
        border-radius: 25px;
        border: 2px solid #8a8c7e;
        padding: 15px;
        height: 30px;
        width: 200px;
        font-size: 13pt;
    }
</style>