---
layout: default
---
<h3>📌 Tags: </h3>
<div class="tags">
    {% for tag in site.tags %}
    <a href="/tags/{{ tag[0] | slugify }}">{{ tag[0] }}</a>
    {% unless forloop.last %}, {% endunless %}
    {% endfor %}
</div>

<h2 id="tag-header"></h2>
<div id="tag-posts"></div>

<script type="application/json" id="search-data">{% include post-feed.html %}</script>
<script>
    // First, parse the JSON we've thrown into the DOM
    let data = JSON.parse(document.getElementById('search-data').textContent);

    // Create a reference to our search results
    let tagPosts = document.getElementById('tag-posts');

    // And one for our search 
    document.addEventListener('DOMContentLoaded', function() {
        const pathSegments = window.location.pathname.split('/');
        const tagName = pathSegments[pathSegments.length - 1];
        const tagHeader = document.getElementById('tag-header');
        const tagPosts = document.getElementById('tag-posts'); // Assuming you have a tag-posts container
        tagPosts.innerHTML = '';

        if (tagName) {
            tagHeader.textContent = `# ${tagName}`;
            const filteredPosts = data.filter(post => post.tags.includes(tagName));
            
            filteredPosts.forEach(post => {
                const listItem = document.createElement('a');
                const title = post.title;
                const formattedDate = new Date(post.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long' });
                
                listItem.href = post.url;
                listItem.textContent = `↳ ${formattedDate} - ${title}`;
                tagPosts.appendChild(listItem);
            });
        }
    });

</script>
<style>
    #tag-posts a {
        display: block;
    }
</style>